.mixerSubpage {
  position: absolute;
  top: 25px;
  left: 0px;
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - 75px);
  background: transparent;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.subpageContent {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.matrix {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

.header {
  color: var(--theme-dark);
  font-family: "Roboto Bold";
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}