[Unit]
#Description="l-bnp's Linux ALSA Audio DSP Service"
After=network.service

[Service]
WorkingDirectory=/home/user/audiodsp
ExecStart=/home/user/audiodsp/dsp-app
Restart=always
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target
